<!--<div class="container-fluid" style="min-height: 70vh">-->
<!--    <div class="row m-5">-->
<!--        <div class="col-4 col-sm-6 col-md-6 col-lg-3" th:each="author : ${authorPagination}">-->
<!--            <div class="card mb-1 mt-1">-->
<!--                &lt;!&ndash;                <img class="card-img-top" src="" alt="Card image cap">&ndash;&gt;-->
<!--                <div class="card-title text-light p-2" style="background-color: #293C5B">-->
<!--                    <h5 class="card-title" th:text="${author.firstName} +'  '+  ${author.lastName}">Card title</h5>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                </div>-->
<!--                <div class="card-footer">-->
<!--                    <a href="#" class="btn btn-outline-light">Megtekint</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div th:if="${authorPagination.totalPages > 0}" class="pagination"-->
<!--         th:each="pageNumber : ${pageNumbers}">-->
<!--        <a th:href="@{/allbook(page=${pageNumber})}"-->
<!--           th:text=${pageNumber}></a>-->
<!--    </div>-->
<!--</div>-->