<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <title>BookShelf</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"/>
    <link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body>

<div class="container-fluid d-flex justify-content-center align-items-center"
     style="min-height: 100vh; background-color: #F39A00">
    <form th:action="@{/saveAuthor}" class="w-50" method="post" th:object="${nauthor}"
          style="color: #285756 !important;">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="fname" class="display-4">Keresztnév</label>
                <input th:field="*{firstName}" type="text" class="form-control" id="fname">
            </div>
            <div class="form-group col-md-6">
                <label for="lname" class="display-4">Családnév</label>
                <input th:field="*{lastName}" type="text" class="form-control" id="lname">
            </div>
        </div>
        <div class="form-row d-flex justify-content-sm-center mt-2 mb-4">
            <input type="submit" class="btn  btn-success btn-block mt-2 mb-2" value="mentés"/>
            <input type="reset" class="btn  btn-danger m-2" value="kiürít"/>
            <a th:href="@{allbook}" class="btn btn-dark m-2">vissza az összeshez</a>
        </div>
    </form>


</div>

<script th:src="@{/webjars/jquery/3.3.1-2/jquery.slim.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.5.4/umd/popper.min.js}"></script>
</body>

</html>
