<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <title>BookShelf</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"/>
    <link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body>

<div class="container-fluid d-flex justify-content-center align-items-center flex-column"
     style="min-height: 100vh; background-color: #F39A00">
    <div class="col-md-6">
        <form th:action="@{/saveBook}" class="" method="post" th:object="${nbook}"
              style="color: #285756 !important;">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="title" class="display-4">Cím</label>
                    <input th:field="*{title}" type="text" class="form-control" id="title">
                    <input type="hidden" th:field="*{id}">
                </div>
                <div class="form-group col-md-6">
                    <label for="pNum" class="display-4">Oldalszám</label>
                    <input th:field="*{numberOfPages}" type="number" class="form-control" id="pNum">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="isbn" class="display-4">ISBN</label>
                    <input th:field="*{isbn}" type="text" class="form-control" id="isbn" maxlength="13"
                           minlength="1">
                </div>
                <div class="form-group col-md-6">
                    <label for="pNum" class="display-4">Megvan?</label>
                    <input th:field="*{isAvailable}" type="checkbox" class="form-control form-check-input"
                           id="isAvailable">
                </div>
            </div>
            <div class="form-row">
            </div>
            <div class="form-row d-flex justify-content-sm-center mt-2 mb-4">
                <input type="submit" class="btn  btn-success btn-block mt-2 mb-2" value="mentés"/>
                <input type="reset" class="btn  btn-danger m-2" value="kiürít"/>
                <a th:href="@{allbook}" class="btn btn-dark m-2">vissza az összeshez</a>
            </div>
        </form>
    </div>
    <div th:if="${!authorsOfBook.empty}">
        <div th:each="auth : ${authorsOfBook}">
            <div th:text="${auth.firstName + ' ' + auth.lastName}" style="font-size: 2rem;  color: #293C5B"></div>
        </div>
    </div>

    <div class="col-md-6">
        <form th:action="@{/addbook/searchinauthors}" method="get">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="searchAuthor" class="display-4 " style="color: #285756 !important;">Keresés a meglévő
                        szerzők között</label>
                    <input name="authorname" type="text" class="form-control" id="searchAuthor" minlength="3">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="submit" class="form-control btn btn-success" id="goSearch" value="Keresés"/>
                </div>
            </div>
        </form>

        <div th:if="${!authorList.empty}" th:each="author : ${authorList}"
             class="d-flex justify-content-sm-around align-items-center">
            <div th:text="${author.firstName + ' ' + author.lastName}" style="font-size: 2rem; color: #293C5B"></div>
            <div>
                <form th:action="@{/addbook/addauthor}" method="get">
                    <input type="text" name="authId" th:value="*{author.getId()}" hidden="hidden">
                    <input type="submit" class="btn btn-dark" value="+"/>
                </form>
            </div>
        </div>
    </div>

    <!--    <div class="col-md-6">-->
    <!--        <form>-->
    <!--            <div class="form-row">-->
    <!--                <div class="form-group col-md-12">-->
    <!--                    <label for="searchValue" class="display-4 " style="color: #285756 !important;">Keresés a könyv-->
    <!--                        címére a moly.hu-n</label>-->
    <!--                    <input type="text" class="form-control" id="searchValue">-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="form-row">-->
    <!--                <div class="form-group col-md-12">-->
    <!--                    <button onclick="getBookFromMolyApi()" class="form-control btn btn-success" id="goSearch">Keresés-->
    <!--                    </button>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </form>-->
    <!--    </div>-->

</div>


<script th:inline="javascript">
    /*<![CDATA[*/
    const getBookFromMolyApi = async () => {
        const toSearch = document.getElementById('searchValue').value;
        console.debug("toSearch", toSearch);
        const response = await fetch('https://moly.hu/api/books.json?q=hyperion&key=3a32342d336e489ddfb82fde4a971f43')
        const bookList = await response.json();
        console.debug("bookList", bookList);
    }
    /*]]>*/
</script>
<script th:src="@{/webjars/jquery/3.3.1-2/jquery.slim.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.5.4/umd/popper.min.js}"></script>
</body>

</html>
