<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <title>BookShelf</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"/>
    <link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body>
<div class="d-flex align-items-center justify-content-center " style="background-color: #293C5B; height: 100vh">
    <div class="d-flex flex-column align-items-center">
    <div><span class="display-4 text-light">Mentés sikeres</span></div>
    <div><a th:href="@{/addbook}" class="btn btn-light mt-5">vissza</a></div>
    </div>
</div>

</body>
<script th:src="@{/webjars/jquery/3.3.1-2/jquery.slim.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.5.4/umd/popper.min.js}"></script>
</body>

</html>

