<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <title>BookShelf</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"/>
    <link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<body>


<div class="jumbotron jumbotron-fluid"
     style="background-color: #F39A00; color: darkslategrey;">
    <div class="container container-fluid">
        <p class="display-4">bookshelf</p>
    </div>
</div>

<div class="container-fluid" style="min-height: 100vh">
    <div class="row m-5">
        <div class="col-lg-2 col-md-3 col-6" th:each="book : ${books}">
            <div class="card mb-1 mt-1">
                <!--                <img class="card-img-top" src="" alt="Card image cap">-->
                <div class="card-title text-light p-2" style="background-color: #293C5B">
                    <h5 class="card-title" th:text="${book.title}">Card title</h5>
                </div>
                <div class="card-body">
                    <span>oldalszám </span><p class="card-text" th:text="${book.numberOfPages}"></p>
                    <span class="text-muted">ISBN </span> <p class="card-text text-muted" th:text="${book.isbn}"></p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-light">Megtekint</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="min-height: 90vh">
    <div class="m-5" >
        <table class="table table-striped text-light" style="background-color: #293C5B !important;">
            <thead>
            <tr>
                <th> cím</th>
                <!--        <th> szerző(k) </th>-->
                <th> oldalak száma</th>
                <th> megvan?</th>
                <th> ISBN</th>
                <th> id</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${books.empty}">
                <td colspan="2"> Nincsenek könyvek</td>
            </tr>
            <tr th:each="book : ${books}">
                <td><span th:text="${book.title}"> cím </span></td>
                <!--        <td><span th:text="${book.authors}"> szerző(k) </span></td>-->
                <td><span th:text="${book.numberOfPages}"> oldalak száma </span></td>
                <td><span th:text="${book.isAvailable}"> megvan? </span></td>
                <td><span th:text="${book.isbn}"> ISBN </span></td>
                <td><span th:text="${book.id}"> id </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>szerző neve</th>-->
<!--        <th>skönyve(i)</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:if="${authors.empty}">-->
<!--        <td> nincsenek szerzők</td>-->
<!--    </tr>-->
<!--    <tr th:each="author : ${authors}">-->
<!--        <td><span th:text="${author.firstName} +'  '+ ${author.lastName}"></span></td>-->
<!--        <td><span th:text="${author.title}"></span></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<div class="container-fluid d-flex justify-content-center align-items-center"
     style="min-height: 10vh; background-color: #F39A00">
    <a class="btn btn-outline-dark" href="#" th:href="@{addbook}">Új könyv hozzáadása</a>
</div>

<script th:src="@{/webjars/jquery/3.3.1-2/jquery.slim.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.5.4/umd/popper.min.js}"></script>
</body>

</html>
