<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <title>BookShelf</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"/>
    <link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<body>


<div class="jumbotron jumbotron-fluid"
     style="background-color: #F39A00; color: darkslategrey;">
    <div class="container container-fluid">
        <p class="display-4">bookshelf</p>
    </div>
</div>

<div class="container-fluid" style="min-height: 70vh">
    <div class="row m-5">
        <div class="col-4 col-sm-6 col-md-6 col-lg-3" th:each="author : ${authorPagination}">
            <div class="card mb-1 mt-1">
                <!--                <img class="card-img-top" src="" alt="Card image cap">-->
                <div class="card-title text-light p-2" style="background-color: #293C5B">
                    <h5 class="card-title" th:text="${author.lastName} +',  '+  ${author.firstName}">Card title</h5>
                </div>
                <div class="card-body" style="max-height: 350px">
                    <p><strong>Könyvei:</strong>
                        <span th:if="${author.bookList.empty}">Nincsenek könyvei </span>
                        <span th:each="book : ${author.bookList}">
                        <span th:text="${book.title} + ', '"></span>
                    </span></p>
                </div>
                <div class="card-footer">
                    <a href="#" th:href="@{/viewauthor(id=${author.id})}"
                       class="btn btn-outline-light">Megtekint</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-1 d-flex justify-content-center">
        <div class="pagination mr-1">
            <a th:href="@{/allbook(page=0)}" class="btn btn-outline-dark"
               data-toggle="tooltip" data-placement="top" title="Első"><<</a>
        </div>
        <div th:if="${totalPages > 0}" class="pagination"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/allbook(page=${pageNumber}-1)}" class="btn btn-outline-dark"
               th:text="${pageNumber}"></a>
        </div>
        <div class="pagination ml-1">
            <a th:href="@{/allbook(page=${totalPages}-1)}" class="btn btn-outline-dark"
               data-toggle="tooltip" data-placement="top" title="Utolsó">>></a>
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center"
     style="min-height: 10vh; background-color: #285756">
    <a class="btn btn-outline-light" href="#" th:href="@{addauthor}">Új szerző hozzáadása</a>
</div>

<div class="container-fluid" style="min-height: 70vh">
    <div class="m-5">
        <table class="table table-striped text-light" style="background-color: #293C5B !important;">
            <thead>
            <tr>
                <th> cím</th>
                <!--                <th> szerző(k)</th>-->
                <th> oldalak száma</th>
                <th> megvan?</th>
                <th> ISBN</th>
                <th> id</th>
                <th> Megtekint</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${books.empty}">
                <td colspan="2"> Nincsenek könyvek</td>
            </tr>
            <tr th:each="book : ${books}">
                <td><span th:text="${book.title}"> cím </span></td>
                <!--                <td th:each="author : ${book.authorDTOList}">-->
                <!--                    <span th:text="${author.lastName} + ', ' + ${author.firstName}"> szerző(k) </span>-->
                <!--                </td>-->
                <td><span th:text="${book.numberOfPages}"> oldalak száma </span></td>
                <td><span th:text="${book.isAvailable} ? 'megvan' : 'nincs meg'"> megvan? </span></td>
                <td><span th:text="${book.isbn}"> ISBN </span></td>
                <td><span th:text="${book.id}"> id </span></td>
                <td><a th:href="@{/viewbook(id=${book.id})}" class="btn btn-sm text-light">megtekint</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center"
     style="min-height: 10vh; background-color: #F39A00">
    <a class="btn btn-outline-dark" href="#" th:href="@{addbook}">Új könyv hozzáadása</a>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    /*]]>*/
</script>

<script th:src="@{/webjars/jquery/3.3.1-2/jquery.slim.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.5.4/umd/popper.min.js}"></script>
</body>

</html>
